* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html, body {
  height: 100%;
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.coins {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  max-width: 500px;

}

.coin {
  width:40%;
  border-radius:50%;
  text-align:center;
  font-size: 48px;
  padding:20% 0;
  margin: 5%;
  line-height:0;

  background: #38a9e4;
}
